[submodule "zeds/google-drive-api-test"]
	path = zeds/google-drive-api-test
	url = https://github.com/aratheunseen/google-drive-api-test.git
[submodule "zeds/shadi-profile-explorer"]
	path = zeds/shadi-profile-explorer
	url = https://github.com/aratheunseen/shadi-profile-explorer.git
[submodule "zeds/javascipt-file-reader-and-form2text"]
	path = zeds/javascipt-file-reader-and-form2text
	url = https://github.com/aratheunseen/javascipt-file-reader-and-form2text.git
[submodule "unity"]
	path = unity
	url = https://github.com/aratheunseen/unity-basics
[submodule "zeds/pentabucks-wordpress-theme"]
	path = zeds/pentabucks-wordpress-theme
	url = https://github.com/aratheunseen/pentabucks-wordpress-theme.git
[submodule "zeds/python-dhaka-stock-exchange-scraper"]
	path = zeds/python-dhaka-stock-exchange-scraper
	url = https://github.com/aratheunseen/python-dhaka-stock-exchange-scraper.git
[submodule "sqa/mochachai"]
	path = sqa/mochachai
	url = https://github.com/aratheunseen/mochachai.git
